body {
	background-color: #181818 !important;
}

.wrapper {
	max-width: 1920px !important;
	margin: 0 auto !important;
	background-color: #212121;
}

input:-webkit-autofill {
	box-shadow: 0 0 0 30px #02582b inset !important;
	-webkit-box-shadow: 0 0 0 30px #02582b inset !important;
}
